<html>
  <head>
    <title>Look at mah tweets</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $.get('/welcome/index_json', function(res) {
          var tweets = JSON.parse(res)
          for (i = 0; i < tweets.length; i++) {
            $('.tweets').append("<p>" + tweets[i].text + "</p>");
          }
        });
      });
    </script>
  </head>
  <body>
    <h1>Check out deez tweets:</h1>
    <div class="tweets"></div>
  </body>
</html>
